@{
}
<!DOCTYPE html>
<html lang="en">
<header class="header-top bg-grey justify-content-center">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-2 col-md-4 text-center d-none d-lg-block">
                <a class="navbar-brand ">
                    <img src="~/images/SiliconmadeLogo.png" alt="" class="img-fluid">
                </a>
            </div>
            <div class="col-lg-8 col-md-12">
                <nav class="navbar navbar-expand-lg navigation-2 navigation">
                    <a class="navbar-brand text-uppercase d-lg-none" href="#"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="ti-menu"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbar-collapse">
                        <ul id="menu" class="menu navbar-nav mx-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="cursor:pointer">
                                    Home
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="@Url.Action("Index","Home")">HomePage</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Blog Posts
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                                    <a href="@Url.Action("Detail", "Blog")">Blog Details</a>
                                    <a href="@Url.Action("Search","Blog")">Blog Search</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a href="@Url.Action("Detail","Page")" class="nav-link">About</a>
                            </li>
                            <li class="nav-item"><a href="@Url.Action("Index","Category")" class="nav-link">Category</a></li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Post Format
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown3">
                                    <a class="dropdown-item" href="post-video.html">Video Formats</a>
                                    <a class="dropdown-item" href="post-audio.html">Audio Format</a>
                                    <a class="dropdown-item" href="post-link.html">Quote Format</a>
                                    <a class="dropdown-item" href="post-gallery.html">Gallery Format</a>
                                    <a class="dropdown-item" href="post-image.html">Image Format</a>
                                </div>

                            </li>
                            <li class="nav-item"><a href="contact.html" class="nav-link">Contact</a></li>
                        </ul>
                        @* Register and Login*@
                        <div class="dropdown">
                            <button class="btn btn-sm btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="material-symbols-outlined">person</span>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="@Url.Action("Register","Auth")">Register</a>
                                <a class="dropdown-item" href="@Url.Action("Login","Auth")">Login</a>
                            </div>
                        </div>

                        <ul class="list-inline mb-0 d-block d-lg-none">
                            <li class="list-inline-item"><a href="#"><i class="ti-facebook"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="ti-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="ti-linkedin"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="ti-pinterest"></i></a></li>
                        </ul>

                    </div>
                </nav>
            </div>
            <div class="col-lg-2 col-md-4 col-6">
                <div class="header-socials-2 text-right d-none d-lg-block">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item"><a href="https://www.linkedin.com/in/furkanucgull/"><i class="ti-linkedin"></i></a></li>
                        <li class="list-inline-item"><a href="https://github.com/furkanucgull"><i class="fab fa-github"></i></a></li>
                     
                        <li class="list-inline-item"><a href="https://link.springer.com/article/10.1007/s40430-023-04089-x"><i class="fas fa-file-alt"></i></a></li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
<body>
</body>

</html>